body {
	background-color: #99CC33;
}

#wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

#page_header {
	color:  #006600;
	width: 100%;
}

#scroll_menu {
	float: right;
	position: fixed;
	top: 5px;
	right: 5px;
	width: 5%;
}

.scroll_button {
	background-color: #CCFFCC;
	width: 100%;
}

#menu {
	width: calc(20% - 10px);
}

#main_menu {
	background-color: #339900;
}

.menu_button {
	background-color: #339900;
	color: #FFFFFF;
	border: 1px solid #006600;
	width: 100%;
}

.selected_menu {
	background-color: #33CC00;
}

#main {
	width: 80%;
}

.main_content {
	background-color: #FFFFFF;
	padding: 5px;
}

.hidden_content {
	display: none;
}

.main_header {
	border: 2px solid #FFCCCC;
}

.main_header_string {
	margin: 2px 10px;
}